      body{
        background-color:white;
      }
      h1{
        text-align:center;
        color: blue;
      }
      h3{
        color:green;
      }
      img {
    display: block;
    margin: auto;
    width: 20%;
	    }
   
